$primary-color: #8cc5f9;
$container-width: 90%;
$main-font: "Rubik", sans-serif;
$bg-white: #fff;
$card-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
$footer-bg: #f8f8f8;
$title-color: #0b132a;
$gray-text: #bdbdbd;
$footer-link-item-color: #4f5665;
